#navbar{
    position:fixed;
    top: 0;
    z-index: 2;
  }
  
  body{
    position: absolute;
    top: 40px;
    z-index: -2;
  }
  
  #welcome-section{
    height: 100vh;
  }
  
  @media max400px{
    body{color: green
  }
  
  link{
    color: red;
  }
  }